<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Measurement app</title>
</head>

<body>
  <h1>Measurement</h1>
  <div id="app">
     <h2>All measurements</h2>

     <ul>
       <li v-for="m in measurements">{{m.id}} {{m.temperature}} Humidity: {{m.humidity}} Pressure: {{ m.pressure}}</li>
     </ul>

    <input v-model="id" placeholder="id" type="number">
    <button v-on:click="getById(id)" class="btn btn-primary">Get by id</button>
    <div v-if="measurement">{{ measurement }}</div>
    <div v-else>No such measurement</div>

    <input v-model.number="addData.pressure" placeholder="pressure" type="number" />
    <input v-model.number="addData.humidity" placeholder="humidity" type="number" />
    <input v-model.number="addData.temperature" placeholder="temperature" type="number" />
    <button v-on:click="add()" class="btn btn-success">Add</button>
    <div>{{addMessage}}</div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>
